.env
selfsigned.cert
selfsigned.key
*.so
*.css
/local
.idea
private-key.pem
/dist
/node_modules
/pkg
spotify.json
/db-data/*
/client/assets/js/
**/yarn-error.log
/client/assets/**.css
/client/assets/**.css.map
