.env
selfsigned.cert
selfsigned.key
*.css
*.so
/local
.idea
private-key.pem
*/dist
*/node_modules
/pkg
spotify.json
/db-data

/**.log

# Terminal Ignore

/app/node_modules/**

# Client Ignore

/client/node_modules/**
/client/src/assets/js/
/client/src/assets/**.css
/client/src/assets/**.css.map
