.env
.env.*
selfsigned.cert
selfsigned.key
*.css
*.so
/local
.idea
private-key.pem
*/dist
*/node_modules
/pkg/vosk/large_model
/pkg/vosk/model

spotify.json
/db-data
**/*.crt
**/*.key
/**.log

# Rasa Ignore

/pkg/rasa/models
/pkg/rasa/.rasa
/pkg/rasa/tests

# Terminal Ignore

/app/node_modules/**

# Client Ignore

/client/node_modules/**
/client/src/assets/js/
/client/src/assets/**.css
/client/src/assets/**.css.map
/client/public/custom/node_modules
/client/public/custom/*.jpg
/client/public/custom/*.png

/embeded/haptics/sdkconfig
/embeded/sentry/sdkconfig
/embeded/sentry/sdkconfig.old
/client/tsconfig.vite-config.tsbuildinfo
/modules/worldspace/face/known/*
/modules/worldspace/face/trained_knn_model.clf
/mobile/src/assets/*.ttf