$fog: rgba(255, 255, 255, 0.10);

$font-family-base: 'SF Pro Text';


$body-color: rgba(255, 255, 255, 0.8);

@import "./element.scss";

html {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 32px;
  user-select: none !important;
  height: 100%;

}

.cursor-blink {
  height: 1rem;
  width: 2px;
  border-radius: 2px;
  background-color: darken($text-accent, 20%);

  margin-left: 2px;
  animation: cursor-flash 1000ms ease infinite;
}

@keyframes cursor-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.125;
  }
}

.router-link {
  cursor: none !important;
}


a:-webkit-any-link {
  cursor: none !important;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: black !important;
  color: rgba(255, 255, 255, 0.8);
}


$btn-border-radius: 8px;
$blur: blur(12px);
$border-radius: 0.66rem;
$text-muted: rgba(255, 255, 255, 0.45);

$form-range-track-height: 0.4rem;
$form-range-thumb-border-radius: 2px;
$form-range-thumb-height: 0.6rem;
$form-range-thumb-width: 0.85rem;
$form-range-thumb-active-bg: darken(rgba(255, 255, 255, 0.6), 12%);
$form-range-thumb-bg: darken(rgba(255, 255, 255, 0.4), 12%);
$form-range-thumb-box-shadow: 0 1px 1px 22px rgb(0 0 0);
$modal-backdrop-opacity: 1;
$dark-0: rgb(0, 0, 0);
$dark-1: rgb(28, 28, 30);
$dark-2: rgb(44, 44, 46);
$dark-3: rgb(58, 58, 60);
$dark-4: rgb(72, 72, 74);
$dark-5: rgb(99, 99, 102);
$dark-6: rgb(142, 142, 147);

$light-0: rgb(255, 255, 255);
$light-1: rgb(242, 242, 247);
$light-2: rgb(229, 229, 234);
$light-3: rgb(209, 209, 214);
$light-4: rgb(199, 199, 204);
$light-5: rgb(174, 174, 178);
$light-6: rgb(142, 142, 147);

/* Brightnesses */
@for $i from 1 through 20 {
  .brightness-#{$i} {
    filter: brightness($i * 5%);
  }

}

/* Label Sizes */
$fontSizes: (
        "c1": 0.7rem,
        "c2": 0.6rem,
        "c3": 0.5rem,
        "c4": 0.4rem,
        "ys": 0.6rem,
        "xxs": 0.7rem,
        "xs": 0.8rem,
        "sm": 0.9rem,
        "md": 1rem,
        "lg": 1.1rem,
        "xl": 1.2rem,
        "xxl": 1.3rem,
);

@each $clr, $i in $fontSizes {
  .label-#{$clr} {
    font-size: $i;
  }
}


/* Label Weights */
$fontWeights: (
        "400": 400,
        "500": 500,
        "600": 600,
        "700": 700,
);

@each $clr, $i in $fontWeights {
  .label-w#{$clr} {
    font-weight: $i;
  }
}

/* Label Opacities */
$fontColors: (
        "0": 0,
        "1": 1,
        "2": 2,
        "3": 3,
        "4": 4,
        "5": 5,
        "6": 6,
        "7": 7,
        "8": 8,
);
.el {


}

@each $clr, $i in $fontColors {
  .label-o#{$clr} {
    color: rgba(255, 255, 255, $i * 0.125);

  }
}


.widget-app {
  @extend .element;
}

.gap {
  gap: 0.375rem;
}


.context {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  backdrop-filter: blur(38px);
  padding: 4.5rem 1rem 1rem;
  transition: all 100ms ease;
  z-index: 22 !important;
}


.context.context-light {
  backdrop-filter: blur(18px);
  z-index: 1 !important;
}

.context.context-id {
  backdrop-filter: blur(20px);
}

.router-link-active.dock-link, .router-link-active.dock-icon {
  @extend .surface;
}

.rain {
  color: rgba(92, 177, 246, 0.6);
}

// Plots


.text-input {

  //outline: 1px solid white;
  font-family: "SF Pro Rounded", sans-serif !important;
  color: rgba(255, 255, 255, 0.5);

  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input:focus {
  outline: none !important;
}


.plot {
  //outline: 1px solid white;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-rows: repeat(2, minmax(1.8rem, 1fr));
  grid-template-columns: repeat(2, minmax(4rem, 1fr));
}


.subplot-inline {
  -webkit-user-drag: none;
  user-select: none;
  background-color: transparent !important;
  box-shadow: none !important;
}

.text-warning {
  mix-blend-mode: overlay;
}

.timeline-sm {
  width: 100%;
  height: 8px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2px 2px !important;

  backdrop-filter: blur(12px);
  background-color: $element-fg;

}

.timeline-value {
  border-radius: 0.5rem;
  height: 6px;
  border: 2px solid transparent;
  background-color: lighten($element-fg, 40%);
  opacity: 1;
  transition: width 100ms ease-in-out;
}

.subplot {
  @extend .element-secondary;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0 0.375rem;
  //border-radius: 0.375rem !important;
  font-family: "SF Pro Rounded", sans-serif !important;
  //color: rgba(255, 255, 255, 0.5);
  //background-color: $element-fg;
  border-radius: 0.3rem !important;
  //box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
  //border: 1px solid rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.55);
  font-weight: 500;
  font-size: 0.625rem;
}

.subplot.active {
  background-color: $element-bg-active;
}


.plot-4x1 {
  grid-template-columns: repeat(4, minmax(1rem, 1fr));
  grid-template-rows: repeat(1, minmax(1.75rem, 1fr));
}

.plot-2x1 {
  grid-template-columns: repeat(2, minmax(1rem, 1fr));
  grid-template-rows: repeat(1, minmax(1.75rem, 1fr));
}

.plot-2x2 {
  grid-template-columns: repeat(2, minmax(1rem, 1fr));
  grid-template-rows: repeat(2, minmax(1.75rem, 1fr));
}

.plot-centered {
  justify-content: center !important;
}

@for $i from 1 through 4 {
  .plot-#{$i}x4 > .subplot {
    width: 100%;
    height: 1.8rem;

  }
}

.entity-small {
  @extend .element;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  height: 100% !important;
  padding: 0.375rem 0.375rem !important;
}

.entity-header {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  @extend .label-c3;
  @extend .label-o4;
  font-weight: 500;
  font-family: "SF Pro Text", sans-serif;
}

.entity-header > .icon {
  @extend .label-c2;
  @extend .label-o4;
  font-weight: 600;
  line-height: 1rem;
  font-size: 0.7rem;
  padding: 0 0.25rem;
  transition: text-shadow 100ms ease-in-out;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1.8rem;
  border-radius: 0.375rem !important;
  max-height: 1.9rem;
  padding-inline: 0.125rem;
  padding: 0.125rem 0.125rem !important;
  outline: none;
  opacity: 1;
  transition: all 100ms ease-in-out;
}

.slider-small {
  -webkit-appearance: none;
  display: flex;
  width: 100%;
  align-self: end;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.125rem !important;
  background-color: $element-bg;
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);

  height: 1.4rem;
  font-weight: 500;
  font-size: 0.625rem;
}

.slider-small::-webkit-slider-thumb {

  background-color: rgba(255, 255, 255, 0.4) !important;
  width: 1.1rem !important;
  height: 1.1rem !important;
  aspect-ratio: 1/1 !important;
  border-radius: 1rem !important;
  padding: 0.5rem;

  -webkit-appearance: none;
  appearance: none;
}

.slider-dim {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 1%, rgba(213, 230, 255, 0.75) 100%);
}

.slider-cct {
  background: linear-gradient(90deg, rgba(255, 160, 75, 0.75) 0%, rgba(255, 249, 230, 0.5) 50%, rgba(213, 230, 255, 0.5) 100%) !important;
}

.slider-hue {
  background: linear-gradient(to right,
          hsl(0deg, 100%, 40%) 0%,
          hsl(60deg, 100%, 40%) 16.67%,
          hsl(120deg, 100%, 40%) 33.33%,
          hsl(180deg, 100%, 40%) 50%,
          hsl(240deg, 100%, 40%) 66.67%,
          hsl(320deg, 100%, 40%) 83.33%,
          hsl(360deg, 100%, 40%) 100%
  ) !important;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.45) 100%) !important;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2) !important;
  background-color: rgb(153, 153, 153);
  border-radius: 0.25rem !important;
  height: 1.5rem;
  width: 0.5rem;
  -webkit-appearance: none;
  appearance: none;
  transition: all 500ms ease;
}

.slider-track.slider::-webkit-slider-thumb {
  @extend .element;
  padding: 0;
  height: 6px !important;
  width: 6px !important;
  -webkit-appearance: none;
  appearance: none;
}

.u-slider {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.025);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none !important;
  padding: 0 !important;
  margin-left: 0.5px;
  width: 12rem;
  height: 6px;
  display: flex;
  justify-content: flex-start;
}

.u-slider-inner {
  border-radius: 0.375rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 !important;
}


.icon-xl {
  @extend .element;
  aspect-ratio: 1/1;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.dock-link {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  color: $text-muted !important;
  text-shadow: rgba(0, 0, 0, 0.05) 0 0 0.25rem;
  border-radius: 0.375rem !important;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 500;
}

.dock-link:active, .dock-icon:active {
  font-weight: 500 !important;
  background-color: rgba(255, 255, 255, 0.0625);
  transition: all 250ms ease;
}


.dock-icon, .dock-icon.router-link-active {

  display: flex;
  flex-direction: column;

  height: 2rem;
  width: 2rem;
  aspect-ratio: 1/1 !important;
  border-radius: calc(0.5rem - 0.125rem) !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: $text-muted;
  text-shadow: rgba(0, 0, 0, 0.05) 0 0 4px;

  flex-grow: 1;
  font-size: 1rem;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  max-height: calc(100% - 2em);
}

/* Track */
::-webkit-scrollbar-track {

  visibility: hidden !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @extend .element-secondary;
  border: solid 2px transparent;
  background-clip: content-box;
  border-radius: 0.2rem;

}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @extend .surface;
}


.hg-theme-udap .hg-button:active {
  cursor: none !important;
  background-color: rgba(0, 0, 0, 0.2);
}

.hg-theme-udap .hg-button.hg-activeButton {
  background-color: rgba(255, 255, 255, 0.055);
  color: rgba(255, 255, 255, 0.5);
  cursor: none !important;
}

.hg-theme-udap .hg-button {
  @extend .element-secondary;
  height: 100%;
  min-height: 2.2rem;
  min-width: 2.5rem;
  margin: 0.125rem;
  color: rgba(255, 255, 255, 0.4);
  background-color: $element-fg;
  border-radius: 0.3rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
  border: none;
  cursor: none !important;
  font-family: "SF Pro Rounded", sans-serif;
  font-weight: 400;
  //text-transform: capitalize;

  font-size: 0.8rem !important;

}

.hg-theme-udap {
  @extend .element;
}

.form-control {
  @extend .surface;
  background-color: inherit !important;
  border: none !important;
}

.entity-context > .top > * {
  z-index: 99999 !important;
}

.surface {
  box-shadow: inset 0 0 1.25px 0.5px rgb(255 255 255 / 5%), 0 0 6px 1px rgb(0 0 0 / 10%) !important;
}

.border-transparent {
  border-color: transparent !important;
}

.h-sep {
  width: 100%;
  height: 1px;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 4px;
  box-shadow: inset 0 0 1.25px 0.5px rgb(255 255 255 / 5%);
}


.macro-icon-default.router-link-active > .macro-icon {
  color: rgba(255, 255, 255, 0.8);
}

.macro-icon-default {
  color: rgba(255, 255, 255, 0.3);
}

.macro-icon:active {
  background-color: opacify($dark-1, 0.5);
  transform: scale(1.025);
  transition: transform 100ms;
}

.fill {
  flex-grow: 1;
}

.v-bar {
  display: flex;
  flex-direction: column;
}

.h-bar {
  display: flex;
  flex-direction: row;
}

.immutable {
  z-index: 9999 !important;
  position: relative;
}

h3 {
  font-weight: 600;
  font-size: 28px !important;
  line-height: 2rem;
  margin-top: 0;
  @extend .immutable;
}

h4 {
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: rgb(255 255 255 / 60%);
}

h5 {
  font-weight: 500 !important;
  font-size: 0.8rem !important;
  color: rgb(255 255 255 / 60%);
}

h6 {
  font-weight: 500 !important;
  font-size: 0.6rem !important;
  color: rgb(255 255 255 / 60%);
  margin-bottom: 1em;
  justify-content: end;
}

hr {
  margin: 0.5em 0 !important;
  border-radius: 1rem;
  border: 1px solid $fog !important;
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 20%);
}

/* Primitive alterations */

a {
  text-decoration: none;
  font-size: 0.9rem;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {

  color: darken($body-color, 20%);

}


.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}


.label-r {
  font-family: "SF Pro Rounded", sans-serif;
}

hr {
  background-color: $fog;
}

/* Static Menus */

.list-group-item:last-of-type {
  margin-bottom: 0;
}

.v-sep {
  width: 1.4px;
  border-radius: 1px;
  margin-inline: 0.4rem;
  height: 1.3rem;
  background-color: rgba(255, 255, 255, 0.1);
}


.generic-container {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
}

.generic-slot-md {
  width: 16rem;
  height: 3.25rem;
}

.generic-slot-sm {
  width: 13rem;
  height: 3.25rem;
}

.generic-slot-xs {
  width: 13rem;
  height: 1rem;
}


.terminal {
  padding: 1em;
  height: 100% !important;
  flex-direction: column;
  justify-content: start;
}

.notification-container {
  display: flex;
  width: 16rem;
  justify-content: start;
  align-items: center;
}

.notification {
  @extend .element;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
}

.notification > .time {
  color: rgba(235, 235, 245, 0.6);
  @extend .label-c2;
  font-weight: 400;
}

.notification > .icon {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  background-color: rgba(47, 47, 47, 0.5);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: 400;
  margin-right: 0.625rem;
}

.notification-header {
  padding-left: 10rem/16;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.notification-header > .title {
  @extend .label-c1;
  font-family: "SF Pro Text", sans-serif;

  font-weight: 600;
}

.notification-header > .message {
  font-family: "SF Pro Text", sans-serif;
  @extend .label-c2;

  font-weight: 400;
}

.album-sm {

  border-radius: 0.25rem !important;
  width: 2.5rem;
  height: 2.5rem;

  background-size: contain;
}


.album-sm.paused {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.album-sm.paused > span {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.element-header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: end;
  align-items: end;
}

.home-bar {
  position: absolute;
  bottom: 0.5rem;
  border-radius: 0.25rem;
  left: calc(50% - 4rem);
  transform: translate3d(0, 0, 0);
  height: 0.18rem;
  width: 8rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: invert(100%) grayscale(100%) blur(8px);
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.0625);
}



