/* Blur Definitions */
.blurs-1 .bg-blur-abs {
  backdrop-filter: blur(0.25rem);
}

.blurs-1 .bg-blur, .blurs-1 .element {
  backdrop-filter: blur(0.25rem);
}

.blurs-1 .bg-blur::before, .blurs-1 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.25rem);
}

.blurs-2 .bg-blur-abs {
  backdrop-filter: blur(0.5rem);
}

.blurs-2 .bg-blur, .blurs-2 .element {
  backdrop-filter: blur(0.5rem);
}

.blurs-2 .bg-blur::before, .blurs-2 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.5rem);
}

.blurs-3 .bg-blur-abs {
  backdrop-filter: blur(0.75rem);
}

.blurs-3 .bg-blur, .blurs-3 .element {
  backdrop-filter: blur(0.75rem);
}

.blurs-3 .bg-blur::before, .blurs-3 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.75rem);
}

.blurs-4 .bg-blur-abs {
  backdrop-filter: blur(1rem);
}

.blurs-4 .bg-blur, .blurs-4 .element {
  backdrop-filter: blur(1rem);
}

.blurs-4 .bg-blur::before, .blurs-4 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
}

.blurs-5 .bg-blur-abs {
  backdrop-filter: blur(1.25rem);
}

.blurs-5 .bg-blur, .blurs-5 .element {
  backdrop-filter: blur(1.25rem);
}

.blurs-5 .bg-blur::before, .blurs-5 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.25rem);
}

.blurs-6 .bg-blur-abs {
  backdrop-filter: blur(1.5rem);
}

.blurs-6 .bg-blur, .blurs-6 .element {
  backdrop-filter: blur(1.5rem);
}

.blurs-6 .bg-blur::before, .blurs-6 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.5rem);
}

.blurs-7 .bg-blur-abs {
  backdrop-filter: blur(1.75rem);
}

.blurs-7 .bg-blur, .blurs-7 .element {
  backdrop-filter: blur(1.75rem);
}

.blurs-7 .bg-blur::before, .blurs-7 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.75rem);
}

.blurs-8 .bg-blur-abs {
  backdrop-filter: blur(2rem);
}

.blurs-8 .bg-blur, .blurs-8 .element {
  backdrop-filter: blur(2rem);
}

.blurs-8 .bg-blur::before, .blurs-8 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2rem);
}

.blurs-9 .bg-blur-abs {
  backdrop-filter: blur(2.25rem);
}

.blurs-9 .bg-blur, .blurs-9 .element {
  backdrop-filter: blur(2.25rem);
}

.blurs-9 .bg-blur::before, .blurs-9 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.25rem);
}

.blurs-10 .bg-blur-abs {
  backdrop-filter: blur(2.5rem);
}

.blurs-10 .bg-blur, .blurs-10 .element {
  backdrop-filter: blur(2.5rem);
}

.blurs-10 .bg-blur::before, .blurs-10 .element::before {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5rem);
}

/* Theme Definitions */
.theme-light .element {
  background-color: rgba(209, 209, 214, 0.1) !important;
}

.theme-light .element::before {
  border: 0.06rem solid rgba(255, 255, 255, 0.065);
}

.theme-light .surface {
  background-color: rgba(209, 209, 214, 0.1) !important;
}

.theme-light .surface::before {
  border: 0.06rem solid rgba(255, 255, 255, 0.065);
}

.theme-dark .element {
  background-color: rgba(255, 255, 255, 0.025) !important;
}

.theme-dark .element::before {
  border: 0.06rem solid rgba(255, 255, 255, 0.065);
}

.theme-dark .surface {
  background-color: rgba(255, 255, 255, 0.025) !important;
}

.theme-dark .surface::before {
  border: 0.06rem solid rgba(255, 255, 255, 0.065);
}

.element {
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.000525), 0 0 6px 2px rgba(0, 0, 0, 0.06);
}

.element.element-green {
  background-color: rgba(48, 209, 88, 0.12) !important;
  box-shadow: inset 0 0 8px 4px rgba(48, 209, 88, 0.25), 0 0 8px 1px rgba(0, 0, 0, 0.025) !important;
}

.element.element-red {
  background-color: rgba(255, 69, 58, 0.5) !important;
  box-shadow: inset 0 0 8px 4px rgba(255, 69, 58, 0.25), 0 0 8px 1px rgba(0, 0, 0, 0.025) !important;
  transform: scale(0.98);
}

/*# sourceMappingURL=element.css.map */
